<!DOCTYPE html>
<head>
<style>
body {
  background-image: url('reservation.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
</head>
</html>